/*! CSS Used from: Embedded */
.positionRelative.jsx-3696517491 {
    position: relative;
  }
  .centerContent.jsx-3696517491 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .isInline.jsx-3696517491 {
    display: inline-block;
  }
  .fullHeight.jsx-3696517491 {
    height: 100%;
  }
  /*! CSS Used from: Embedded */
  .jsx-1995516870 {
    display: block;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    cursor: pointer;
    color: inherit;
    -webkit-transition: opacity 500ms 100ms;
    transition: opacity 500ms 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  *.jsx-1995516870 * {
    cursor: pointer !important;
  }
  .jsx-1995516870:active {
    opacity: 0.5;
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
    -webkit-transition-delay: 0ms !important;
    transition-delay: 0ms !important;
  }
  /*! CSS Used from: Embedded */
  .jsx-2219596133 {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-letter-spacing: 0.01em;
    -moz-letter-spacing: 0.01em;
    -ms-letter-spacing: 0.01em;
    letter-spacing: 0.01em;
    word-break: break-word;
    cursor: default;
  }
  .withEllipsis.jsx-2219596133 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  /*! CSS Used from: Embedded */
  .buttonPrimary._isFullWidth.jsx-3667797959 {
    width: 100%;
  }
  .icon._isFullWidth.jsx-3667797959 {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
  }
  .right._isFullWidth.jsx-3667797959 {
    position: absolute;
    right: 0.17em;
    top: 0;
    bottom: 0;
  }
  .buttonPrimary.jsx-3667797959:hover .chevron {
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
  }
  .buttonPrimary.buttonPrimary.jsx-3667797959 a {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  /*! CSS Used from: Embedded */
  a.jsx-1563878894 * {
    cursor: pointer;
  }
  /*! CSS Used from: Embedded */
  * {
    box-sizing: border-box;
  }
  h2 {
    margin: 0;
    font: inherit;
  }
  :focus {
    outline: 0;
  }
  ::-moz-focus-inner {
    border: 0;
  }
  ::selection {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
  }
  svg {
    display: block;
  }
  a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  